<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<title>{{ class_name }}</title>
<frameset framespacing="0" border="0" rows="0" frameborder="0">
<frame name="main" src="{{ short_url }}" scrolling="auto" noresize>
</frameset>
<script>
	var _hmt = _hmt || [];
	(function () {
		var hm = document.createElement("script");
		hm.src = "https://hm.baidu.com/hm.js?da611329e2322dc9ee22515871200bb1";
		var s = document.getElementsByTagName("script")[0];
		s.parentNode.insertBefore(hm, s);
	})();
</script>
</head>
<body>
</body>
</html>
